<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">



	<bean id="daoCategorie" class="com.gestionCabinetDentaire.www.dao.CategorieDaoImpl"></bean>
	<bean id="metierCategorie" class="com.gestionCabinetDentaire.www.metier.CategorieMetierImpl">
		<property name="daoCategorie" ref="daoCategorie"></property>
	</bean>
	
	<bean id="daoPatient" class="com.gestionCabinetDentaire.www.dao.PatientDaoImpl"></bean>
	<bean id="metierPatient" class="com.gestionCabinetDentaire.www.metier.PatientMetierImpl">
		<property name="daoPatient" ref="daoPatient"></property>
	</bean>
	
	<bean id="daoDossier" class="com.gestionCabinetDentaire.www.dao.DossierDaoImpl"></bean>
	<bean id="metierDossier" class="com.gestionCabinetDentaire.www.metier.DossierMetierImpl">
		<property name="daoDossier" ref="daoDossier"></property>
	</bean>
	
	<bean id="daoAdmin" class="com.gestionCabinetDentaire.www.dao.AdminDaoImpl"></bean>
	<bean id="metierAdmin" class="com.gestionCabinetDentaire.www.metier.AdminMetierImpl">
		<property name="daoAdmin" ref="daoAdmin"></property>
	</bean>
	
	<bean id="daoInfirmier" class="com.gestionCabinetDentaire.www.dao.InfirmierDaoImpl"></bean>
	<bean id="metierInfirmier" class="com.gestionCabinetDentaire.www.metier.InfirmierMetierImpl">
		<property name="daoInfirmier" ref="daoInfirmier"></property>
	</bean>
	
	<bean id="daoMedecin" class="com.gestionCabinetDentaire.www.dao.MedecinDaoImpl"></bean>
	<bean id="metierMedecin" class="com.gestionCabinetDentaire.www.metier.MedecinMetierImpl">
		<property name="daoMedecin" ref="daoMedecin"></property>
	</bean>
	
	<bean id="daoOrdonance" class="com.gestionCabinetDentaire.www.dao.OrdonanceDaoImpl"></bean>
	<bean id="metierOrdonance" class="com.gestionCabinetDentaire.www.metier.OrdonanceMetierImpl">
		<property name="daoOrdonance" ref="daoOrdonance"></property>
	</bean>
	
	<bean id="daoPaiement" class="com.gestionCabinetDentaire.www.dao.PaiementDaoImpl"></bean>
	<bean id="metierPaiement" class="com.gestionCabinetDentaire.www.metier.PaiementMetierImpl">
		<property name="daoPaiement" ref="daoPaiement"></property>
	</bean>
	
	<bean id="daoRdv" class="com.gestionCabinetDentaire.www.dao.RdvDaoImpl"></bean>
	<bean id="metierRdv" class="com.gestionCabinetDentaire.www.metier.RdvMetierImpl">
		<property name="daoRdv" ref="daoRdv"></property>
	</bean>
	
	<bean id="daoSecretaire" class="com.gestionCabinetDentaire.www.dao.SecretaireDaoImpl"></bean>
	<bean id="metierSecretaire" class="com.gestionCabinetDentaire.www.metier.SecretaireMetierImpl">
		<property name="daoSecretaire" ref="daoSecretaire"></property>
	</bean>
	
	<bean id="daoSpecialite" class="com.gestionCabinetDentaire.www.dao.SpecialiteDaoImpl"></bean>
	<bean id="metierSpecialite" class="com.gestionCabinetDentaire.www.metier.SpecialiteMetierImpl">
		<property name="daoSpecialite" ref="daoSpecialite"></property>
	</bean>
	
	<bean id="daoVisite" class="com.gestionCabinetDentaire.www.dao.VisiteDaoImpl"></bean>
	<bean id="metierVisite" class="com.gestionCabinetDentaire.www.metier.VisiteMetierImpl">
		<property name="daoVisite" ref="daoVisite"></property>
	</bean>
	
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/gestioncabinetdentaire"/>
		<property name="username" value="root"/>
		<property name="password" value=""/>
	</bean>
	
	<bean id="persistenceUnitManager" class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/persistence.xml</value>
			</list>
		</property>
		<property name="defaultDataSource" ref="dataSource"/>
	</bean>
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitManager" ref="persistenceUnitManager"/>
		<property name="persistenceUnitName" value="MY_P_U"></property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	<context:annotation-config></context:annotation-config>
</beans>
